.button {
    background: var(--primary);
    color: var(--white);
    font: var(--button);
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 13px;
    padding-block-end: 13px;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    text-align: center;
    transition: .1s;

}

.is-secondary {
    background: unset;
    border: 2px solid var(--secondary);
    transition: .1s;
}



@media screen and (min-width: 768px) {
    .button:active,
    .is-secondary:active {
        transform: scale(.98);
    }
}