* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Amaranth', sans-serif;
}
body{
    background: #4b6cb7;
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    background: linear-gradient(to right, #182848, #4b6cb7);
    color: #ffffff;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}


header, 
footer{
display: flex;
justify-content: space-around;
align-items: center;
padding: 1em 0;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}
li a{
    display: block;
    padding: 2em 1em;

}
a{
    color: #fdfdfd;
    text-decoration: none;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
    height: 100vh;

}
/* 
footer{
    justify-content: space-between;
} */
i{
    font-size: 2rem;
}
