.title {
    align-self: flex-start;
    border-bottom: 2px solid var(--primary);
    font: var(--headLine5);
    padding-block-start: 4px;
    padding-block-end: 4px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
}